#!/bin/env/zsh

##################
#   Navigation   #
##################
alias ..="cd .."
alias cd..="cd .."
alias c="clear"
alias q='exit'
alias ls='ls -FG' # List files in the current directory
alias la='ls -aFG' # List (all) files in the current directory
alias ll='ls -l' # List files as a list in the current directory

###################
#   Directories   #
###################
alias apps='cd /Applications'
alias gd='cd ~/Google\ Drive/'
alias pydir='cd ~/Google\ Drive/Python'
alias library="cd ~/Library"
alias dt='cd ~/Desktop/'
alias dl='cd ~/Downloads/'
alias hs='history | grep'
alias grep="grep --color=always" # Show results of search in color

###################
#    Operations   #
###################
alias mv='mv -i' # Move -interactive
alias cp='cp -i' # Copy -interactive
alias rm='rm -i' # Remove (delete) -interactive
alias empty="sudo rm -rf ~/.Trash/*" # Take out the trash

###################
#     System      #
###################
alias boot='python ~/scripts/boot.py'
alias ps='ps -acmx'
alias root='sudo -i' # Allow root access
alias rebootnow='sudo shutdown -r now'
alias sleepnow='pmset sleepnow'
alias sudo='sudo ' # Make aliases sudo-able
alias zshrc='edit ~/.zshrc'
alias grep="grep -Hn --color=auto" # Show results of search in color

###################
#     Updates     #
###################
alias update='python ~/scripts/softwareUpdate.py' # Look for application and macOS updates
alias reload='source ~/.zshrc'
alias cleanupds="find . -type f -name '*.DS_Store' -ls -delete"

###################
#  Applications   #
###################
alias edit='atom'
alias ff='open -a Firefox'
alias gcommit="git add . && git commit -m"
alias gpull='git pull'
alias gpush='git push'
alias satom='sudo atom' # Open file with admin rights
alias sedit='sudo edit' # Open file with admin rights
alias python='python3'
alias weather='curl http://wttr.in/Chicago'
