# Navigational convenience
alias ..="cd .."
alias cd..="cd .."
alias c="clear"
alias q='exit'
alias ls='ls -FG'
alias la='ls -aFG'
alias apps='cd /Applications'
alias gd='cd ~/Google\ Drive/'
alias pydir='cd ~/Google\ Drive/Python'
alias dt='cd ~/Desktop/'
alias dl='cd ~/Downloads/'
alias hs='history | grep'
alias grep="grep -Hn --color=auto"
alias sudo='sudo '
alias root='sudo -i'
alias bashrc='edit ~/.bashrc'

# File operations
alias mv='mv -v'
alias cp='cp -v'
alias rm='rm -vi'

# System monitoring
alias ps='ps -acx'
alias rebootnow='sudo shutdown -r now'

# Software updates and cleanup
alias brewup='brew update ; brew upgrade && brew cask upgrade ; brew cleanup ; brew cleanup -s ; brew missing ; brew doctor'
alias macup='softwareupdate -ia'
alias reload='source ~/.bashrc'
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Applications
alias python='python3'
alias edit='atom'
